vendor/apex/com.google.pixel.camera.hal.apex
product/app/Photos/Photos.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/YouTube/YouTube.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/Velvet/Velvet.apk
.git/objects/pack/pack-d09ca58e128de3c776c82c9fa0b950165b077085.pack
